/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card-hover {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.card-hover:hover {
  transform: scale(1.03) translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
  z-index: 10;
}
.alert {
  transition: all 0.5s ease-out;
}